<div class="row" *ngIf="!errorGetProduct">
  <div class="col-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group ">
        <label for="productName">Product Name</label>
        <input type="text"
               class="form-control"
               id="productName"
               name="productName"
               ngModel>
      </div>
      <div class="form-group">
        <label for="productPrice">Product Price</label>
        <input type="text"
               class="form-control"
               id="productPrice"
               name="productPrice"
               ngModel>
      </div>
      <img [src]="image"
           alt="product image of {{product?.name}}"
           class="img-thumbnail">
      <div class="form-group">
        <input type="file" class="form-control-file" id="exampleFormControlFile1"
               (change)="onFileSelect($event)">
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <div class=" d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" (click)="onDeleteProduct()">Delete
              Product
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="row" *ngIf="errorGetProduct">
  <div class="col-12">
    <app-error [error]="errorGetProduct"></app-error>
  </div>
</div>
<div class="row" *ngIf="errorDeleteProduct">
  <hr>
  <div class="col-12">
    <app-error [error]="errorDeleteProduct"></app-error>
  </div>
</div>
<div class="row" *ngIf="errorGetProducts">
  <hr>
  <div class="col-12">
    <app-error [error]="errorGetProducts"></app-error>
  </div>
</div>

