<div class="row" *ngIf="!error; else errorRow">
  <div class="col-6">
    <div class="d-flex justify-content-center">
      <div class="list-group">
        <img src="assets/add_icon.svg"
             alt="Add Product"
             class="list-group-item"
             style="cursor: pointer"
             routerLink="new">
        <div *ngFor="let product of products; let i = index;">
          <a class="list-group-item list-group-item-action float-left"
             [routerLink]="['/products', product?.id]">
            {{ product?.name }}
            <img [src]="productImages[i]" alt="product image of {{product?.name}}"
                 width="50" height="50" class="float-right">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #errorRow>
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <app-error [error]="error"></app-error>
    </div>
  </div>
</ng-template>


