<div class="row" *ngIf="!errorModel; else errorRow">
  <div class="col-6">
    <p>
      <b>Product Name:</b>
      <br>
      <i>{{ product?.name }}</i>
    </p>
    <p>
      <b>Product Price: </b>
      <br>
      <i> R{{ product?.price }}</i>
    </p>
  </div>
  <div class="col-6">
    <img [src]="image"
         alt="product image of {{product?.name}}"
         class="img-thumbnail">

  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" (click)="onEdit()">
          Edit Product
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #errorRow>
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <app-error [error]="errorModel"></app-error>
    </div>
  </div>
</ng-template>

